body {
  text-align: center;
  font-family: Acme;
}

.loginsiunupForm {
  margin-top: 17rem;
}
form {
  border-radius: 10px;
}

html {
  width: 70%;
  margin: auto;
}

h2 {
  text-align: center;
}
.eventCards {
  display: flex;
  margin: 1rem auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  box-shadow: 1rem 1rem 5rem 0px grey;
  border: solid gray 0.2px;
  width: 85%;
}
.eventCard {
  margin: 1rem;
}

.card-img-top {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  height: 12rem;
}
.homeEvent {
  width: 25%;
  height: 300px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  /* border: solid black 1px; */
}

.eventform {
  width: 70%;
  margin: auto;
}

form {
  border: black solid 1px;
  padding: 1rem;
}

.tickettable {
  width: 70%;
  margin: auto;
}

.the.Ticket {
  text-align: center;
}
