body {
  text-align: center;
  font-family: Acme;
}

.eventCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.homeEvent {
  width: 25%;
  height: 300px;
  margin: 1rem;
  /* border: solid black 1px; */
}

.eventhomeform {
  /* border: solid black 1px; */
  margin: auto;
  width: 70%;
  border-radius: 5px;
}
